$veryLightGray: hsl(0, 0%, 98%);


footer {
    background-color: $veryLightGray;
}

.socialIcons {
    @include media-breakpoint-up(lg){
        margin-top: 10%;
    }
}

.footerLogo {
padding: 10%;
padding-top: 20%;
@include media-breakpoint-up(lg){
   padding: 0;
   padding-top: 10%;
}
}




.social {
    background-image: url('../images/bg-pattern-footer-mobile.svg');
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  @include media-breakpoint-up(lg){
    background-image: url('../images/bg-pattern-footer-desktop.svg');
    background-size: 40%;
    background-position: top left;
    padding-right: 10%;
  }
}

.mainLinks {
    @include media-breakpoint-up(lg){
    margin-top: 3%;
    }
}

.footerLine {
    width: 90%;
    padding: 0 auto;
    margin: 0 auto;
    margin-top: 15%;
    @include media-breakpoint-up(lg){
        margin: 0 auto;
        margin-top: 2%;
        width: 91%;
       margin-left: 9%;
    }
}


.attribution { 
    font-size: 11px; 
    padding: 40px;
    text-align: center; 
     a { 
         color: hsl(228, 45%, 44%); 
        }
}

 